#{extends 'cms/cms.html' /}

#{if page.title != null && page.title != ""}
    <h1>&{'cms.edit.title', page.title}</h1>
#{/if}
#{else}
    <h1>&{'cms.new.title', template}</h1>
#{/else}

#{form @cms.Admin.savePage(), class:"form-horizontal", id:"form"}

    #{ifErrors}
        <div class="alert alert-error">
            <strong>&{'error'}</strong> &{'error.checkform'}
        </div>
    #{/ifErrors}
    #{if flash.success}
        <div class="alert alert-success">
            ${flash.success}
        </div>
    #{/if}

    <input type="hidden" name="page.template" value="${page.template}" />

    <!-- Field name -->
    #{if page.name}
        <div class="control-group #{ifError 'page.name'}error#{/ifError}">
            <label class="control-label" for="name">
                &{'cms.page.name'}
                <a class="form-tooltip" href="#" data-toggle="tooltip" data-placement="right" title="&{'cms.page.name.help'}"><i class="icon-info-sign"></i></a>
            </label>
            <div class="controls">
                <input class="span12" type="text" id="name" name="page.name" placeholder="&{'cms.page.name.placeholder'}" value="${page?.name}" readonly="readpnly"/>
                #{if errors?.forKey('page.name')}
                    <span class="help-inline">#{error 'page.name' /}</span>
                #{/if}
            </div>
        </div>
    #{/if}

    <!-- Field title -->
    <div class="control-group #{ifError 'page.title'}error#{/ifError}">
        <label class="control-label" for="title">
            &{'cms.page.title'}
            <a class="form-tooltip" href="#" data-toggle="tooltip" data-placement="right" title="&{'cms.page.title.help'}"><i class="icon-info-sign"></i></a>
        </label>
        <div class="controls">
            <input class="span12" type="text" id="title" name="page.title" placeholder="&{'cms.page.title.placeholder'}" value="${page?.title}"/>
            #{if errors?.forKey('page.title')}
                <span class="help-inline">#{error 'page.title' /}</span>
            #{/if}
        </div>
    </div>

    <!-- Field keywords -->
    <div class="control-group #{ifError 'page.keywords'}error#{/ifError}">
        <label class="control-label" for="keywords">
            &{'cms.page.keywords'}
            <a class="form-tooltip" href="#" data-toggle="tooltip" data-placement="right" title="&{'cms.page.keywords.help'}"><i class="icon-info-sign"></i></a>
        </label>
        <div class="controls">
            <input class="span12" type="text" id="keywords" name="page.keywords" placeholder="&{'cms.page.keywords.placeholder'}" value="${page?.keywords}"/>
            #{if errors?.forKey('page.keywords')}
                <span class="help-inline">#{error 'page.keywords' /}</span>
            #{/if}
        </div>
    </div>

    <!-- Field description -->
    <div class="control-group #{ifError 'page.description'}error#{/ifError}">
        <label class="control-label" for="description">
            &{'cms.page.description'}
            <a class="form-tooltip" href="#" data-toggle="tooltip" data-placement="right" title="&{'cms.page.description.help'}"><i class="icon-info-sign"></i></a>
        </label>
        <div class="controls">
            <textarea id="description" name="page.description" placeholder="&{'cms.page.description.placeholder'}" class="span12" rows="3">${page?.description}</textarea>
            #{if errors?.forKey('page.description')}
                <span class="help-inline">#{error 'page.description' /}</span>
            #{/if}
        </div>
    </div>

    <!-- Field body -->
    <div class="control-group #{ifError 'page.body'}error#{/ifError}">
        <label class="control-label" for="body">
            &{'cms.page.body'}
            <a class="form-tooltip" href="#" data-toggle="tooltip" data-placement="right" title="&{'cms.page.body.help'}"><i class="icon-info-sign"></i></a>
        </label>
        <div class="controls span12">
            <textarea id="body" name="page.body" placeholder="&{'cms.page.body.placeholder'}" class="ckeditor" rows="30">${page?.body}</textarea>
            #{if errors?.forKey('page.body')}
                <span class="help-inline">#{error 'page.body' /}</span>
            #{/if}
        </div>
    </div>

    <!-- Form button -->
    <div class="form-actions">
        <button class="btn btn-primary" type="submit">&{'cms.page.save'}</button>
        <button class="btn btn-danger" name="delete" value="delete" type="submit">&{'cms.page.delete'}</button>

        #{if page.name != null && page.template != "Fragment"}
            <a class="pull-right btn btn-info" href="@{cms.Frontend.show(page.name)}">&{'cms.page.see'}</a>
        #{/if}
    </div>
#{/form}

<script type="text/javascript" src="/public/ckeditor/ckeditor.js" ></script >
<script type="text/javascript" >
    $(document).ready(function () {
        $('.form-tooltip').tooltip();
    });
    CKEDITOR.on( 'instanceReady', function( ev ) {
        ev.editor.dataProcessor.dataFilter.addRules( {
            elements: {
                img: function( el ) {
                    el.attributes.itemscope = 'image';
                }
            }
        } )
    });
</script >