#{extends 'cms/cms.html' /}

<h1>&{'cms.title', template}</h1>

<table class="table table-hover table-striped sortable">
    <caption>
        &{'cms.caption', pages.size(), template}
    </caption>
    <thead>
        <tr>
            <th class="span3">&{'cms.page.title'}</th>
            <th class="span3">&{'cms.page.description'}</th>
            <th class="span2" data-defaultsort="desc">&{'cms.page.created'}</th>
            <th class="span2">&{'cms.page.updated'}</th>
            <th class="span2">&{'cms.action'}</th>
        </tr>
    </thead>
    <tbody>
        #{list items:pages, as:'page' }
            <tr>
                <td>${page.title}</td>
                <td>${page.description}</td>
                <td data-dateformat="DD/MM/YYYY">${page.created.format("dd/MM/yyyy")}</td>
                <td data-dateformat="DD/MM/YYYY">${page.updated.format("dd/MM/yyyy")}</td>
                <td>
                    <a class="btn btn-danger pull-right" href="@{cms.Admin.delete(page.name)}" title="&{'cms.page.delete'}">
                        <i class="icon-remove"></i>
                    </a>
                    <a class="btn btn-warning pull-right" href="@{cms.Admin.editPage(page.name)}" title="&{'cms.page.edit'}">
                        <i class="icon-pencil"></i>
                    </a>
                    #{if page.template != "Fragment"}
                        <a class="btn btn-info pull-right" href="@{cms.Frontend.show(page.name)}" title="&{'cms.page.view'}">
                            <i class="icon-eye-open"></i>
                        </a>
                        <div class="btn-group" data-toggle="buttons-radio">
                            <a title="&{'cms.action.publish'}" href="@{cms.Admin.publish(page.name)}" class="btn btn-success #{if page?.published}active#{/if}">On</a>
                            <a title="&{'cms.action.unpublish'}" href="@{cms.Admin.unpublish(page.name)}" class="btn btn-danger #{if !page?.published}active#{/if}">Off</a>
                        </div>
                    #{/if}
                </td>
            </tr>
        #{/list}
    </tbody>
</table>

#{if template != "Fragment"}
    <a class="btn btn-success pull-right" href="@{cms.Admin.addPage(template)}">&{'cms.page.new', template}</a>
#{/if}