<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0">
    <channel>
        <title>
            #{cms.display 'rss.' + template + '.title' }
                &{'cms.rss.title', applicationName, template}
            #{/cms.display}
        </title>
        <link>@@{cms.Frontend.rss(template)}</link>
        <description>
            #{cms.display 'rss.' + template + '.description' }
                TODO : Write a description for ${template} RSS
            #{/cms.display}
        </description>
        <ttl>60</ttl>
        <lastBuildDate>${new Date().format('E, dd MMM yyyy HH:mm:ss Z', "en")}</lastBuildDate>

        #{list items:pages, as:'page'}
            <item>
                <title>${page.title.raw()}</title>
                <link>@@{cms.Frontend.show(page.name)}</link>
                <guid>@@{cms.Frontend.show(page.name)}</guid>
                <pubDate>${page.created.format('E, dd MMM yyyy HH:mm:ss Z', "en")}</pubDate>
                <description>
                    <![CDATA[
                        ${page.body.raw()}
                    ]]>
                </description>
            </item>
        #{/list}
    </channel>
</rss>
